{% include 'base.html' %}

{% block title %}
    {{ title }}
{% endblock  %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Irma Makeup</h1>
            </div>

            <div class="col-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sunt magni molestiae nihil deserunt, saepe iusto ipsam, adipisci, aut nam ab doloribus nesciunt voluptas illo perferendis ad quam? Itaque fuga deserunt consequuntur dolorum, iusto mollitia laboriosam quaerat numquam obcaecati ducimus cumque, atque recusandae, in exercitationem ullam aperiam deleniti nesciunt quas.</p>
            </div>
            <div class="col-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sunt magni molestiae nihil deserunt, saepe iusto ipsam, adipisci, aut nam ab doloribus nesciunt voluptas illo perferendis ad quam? Itaque fuga deserunt consequuntur dolorum, iusto mollitia laboriosam quaerat numquam obcaecati ducimus cumque, atque recusandae, in exercitationem ullam aperiam deleniti nesciunt quas.</p>
            </div>
            <div class="col-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sunt magni molestiae nihil deserunt, saepe iusto ipsam, adipisci, aut nam ab doloribus nesciunt voluptas illo perferendis ad quam? Itaque fuga deserunt consequuntur dolorum, iusto mollitia laboriosam quaerat numquam obcaecati ducimus cumque, atque recusandae, in exercitationem ullam aperiam deleniti nesciunt quas.</p>
            </div>
        </div>
    </div>
</section>


{% endblock  %}